@model WhosGiggin.Models.HomepageViewModel

@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    @foreach (var e in Model.Events.OrderByDescending(m=>m.StartDate)) { 
        <div class="row">
            <div class="col-sm-2">@e.StartDate</div>
            <div class="col-sm-4">@e.Title</div>
            <div class="col-sm-4">@e.Venue.Name</div>
            <div class="col-sm-2">@e.Price</div>
            <div class="col-sm-2">@Html.ActionLink("Info", "Details","Event", new {id=@e.Id }, null)</div>
        </div>
    
    }
</div>