@model WhosGiggin.Models.EventModel

@{
    ViewBag.Title = "Edit";
}

<h2>Event</h2>

@using (Html.BeginForm("Edit", "Event", FormMethod.Post, new { @class = "form-horizontal span12" }))
{ 
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit</legend>

        @Html.HiddenFor(model => model.Id)
		@Html.Partial("_CreateOrEdit", Model)

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" type="submit" value="Create" title="Create">Create</button>
                @Html.ActionLink("Cancel", "Index", new { }, new { @role = "button", @class = "btn btn-danger" })
            </div>
        </div>
    </fieldset>
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}